@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: url('/images/login.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: rgba(255, 255, 255, 0.2); /* Transparan */
    backdrop-filter: blur(10px); /* Efek blur */
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.login-logo img {
    width: 120px; /* Ukuran logo */
    margin-bottom: 20px;
}
